#main {
    width: 520px;
    margin: 0 auto;
}

#header {
    text-align: center;
}

.box {
    height: 120px;
    width: 120px;
    float: left;
    margin: 3px;

    background-color: pink;
}

.clickable {
    cursor: pointer;
}

img {
    height: 120px;
    width: 120px;
}

.clear-fix {
    clear: both;
}
